
.nav{
    border:1px solid #FFFFFF;
    border-width:0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    width: 100%;
}

.container {
    background-color: #F0F7FA;
    }
    
nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.nav li{
    display:inline;
    margin:10px;
    padding:10px;
    list-style: none;
    flex-grow: 1;
    text-align: center;
}
.nav a{
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    display: block;
    text-decoration: none;
    color: #006BA6;
}